.bg-light {
  background-color: #e6373d !important; /* Cambia el color de fondo */
  color: white;
}

.nav-link {
  color: white;
}

.nav-item :hover {
  color: white;
}

/* Iconos */
.border-transparent {
  border-color: transparent !important;
}

.border-transparent:hover {
  border-color: transparent !important;
}

/* Subrayado en hover */
.hover-underline {
  position: relative;
  text-decoration: none;
}

.hover-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px; /* Espacio entre texto y subrayado */
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}

.hover-underline:hover::after {
  width: 100%; /* Subraya completamente al pasar el mouse */
}

/* estilos del contador del carrito */
#cart-counter {
  position: absolute;
  top: 10px;
  right: 22px;
  background-color: #f7ffff; /* Color de fondo del contador */
  color: black;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: bold;
}
